<!DOCTYPE html>
<html ng-app="defaultApp" class="headerbg um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title>服务平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=medium-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/ui-base.css">
    <link rel="stylesheet" href="css/ui-box.css">
    <link rel="stylesheet" href="css/font/css/fontello.css"/>
    <script src="js/module/1.2.0/angular.min.js"></script>
    <script src="js/module/1.2.0/angular-touch.min.js"></script>
    <script src="js/module/1.2.0/angular-sanitize.min.js"></script>
    <script src="js/module/1.2.0/directive1.2.js"></script>
    <script src="js/zy_control.js"></script>
    <script src="js/zy_click.js"></script>
    <script src="js/route.js"></script>
</head>
<body class="um-vp" data-ng-controller="informationCtrl" ontouchstart>
<div id="page_0" class="up ub ub-ver">
    <!--header开始-->
    <header id="header" class="uh">
        <div class="headerInner">
            <i class="lefticon" templarlink="back" data-trans="1"></i>
            <i ng-if="post" templarlink="post_send.html" data-trans="11"
               class="righticon" data-needlogin="true"><span class="icon-pencil"><em style="font-size:0.8em; font-style:normal;"></em></span></i>
            <h1 class="mid">服务平台</h1>
        </div>
    </header>
    <!--header结束-->

     <!--content开始-->
    <section id="content" class="ub-f1 marginFooterHeight"></section>
    <!--content结束-->
    <footer class="footerNav footerHeight ">
        <ul class="footerInner">
            <input class="uhide" type="radio" checked="true" name="menus" id="menu1">
            <li class="flexbox-center footerTab" ng-click="menuSelected(1);"><h3>发现</h3></li>
            <input class="uhide" type="radio" name="menus" id="menu2">
            <li class="flexbox-center footerTab" ng-click="menuSelected(2);"><h3>关联</h3></li>
            <input class="uhide" type="radio" name="menus" id="menu3">
            <li class="flexbox-center footerTab" ng-click="menuSelected(3);"><h3>讨论</h3></li>
        </ul>
    </footer>
</div>
</body>

<script>
zy_init();
defaultApp.controller("informationCtrl", function($scope){
    function radioSelect(id){
        var ret = 0;
        var e = $$(id);
        if(e && !e.checked){
            e.checked = true;
            ret = 1;
        }
        return ret;
    }
     $scope.menuSelected = function(i){
        var filename = "";
        if(i == 1) {
            $scope.post = false;
            filename = "information_con1.html";
        } else if(i == 2) {
            $scope.post = false;
            filename = "information_con2.html";
        } else if(i == 3) {
            if(isClubPerson()) {
                $scope.post = true;
                filename = "information_con3.html";
            } else {
                uexWindow.alert("",'会所负责人专区,您无权访问',"确定");
                return;
            }
        }
        zy_con("content", filename, 0, $$("header").offsetHeight);
        radioSelect('menu'+i);
    }

    window.uexOnload = function(type){
        if (!type) {
            $scope.menuSelected(1);
        }
        window.onorientationchange=window.onresize=function(){
            zy_resize("content",0,$$("header").offsetHeight);
        }
    }
})


</script>
</html>

